//- Hover over the text to get the animation

//- Feel free to use the code anywhere you want.
//- But Tag/Mention where you use this code.

//- to use html change the preprocesor to none.
//- And, Type <p>water</p>
//- Done!!

p water
