.container
  .row
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
  .row
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
  .row
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
  .row
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
  .row
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
  .row
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
  .row
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon
    .hexagon