.canvas
  .head
    .face
      .face-hair-div
        .face-hair
      .nose
      .mouth
    .glass
      .frame
      .lens
        .lens-shade
        .lens-shade
        .eye
      .lens
        .lens-shade
        .lens-shade
        .eye
    .ear
    .hair
      .hair-bundle
    .neck-section
  .neck
  .cloth
    .cloth-neck