@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background: black;
  display: flex;
  justify-content: center;

  @keyframes shade {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
  align-items: center;
  min-height: 100vh;
}

p {
  text-align: center;
  font-size: 10vmin;
  line-height: 1;
  letter-spacing: 4px;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, black, white, black);
  background-size: 70% 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  animation: shade 5s linear infinite;
}
